.blog img {
    width: 100%;
    height: 100%;
}

.blog .text {
    padding: 40px 30px;
}

.blog h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 20px 0;
    transition: 0.5s;
}