@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Momo Trust Display", sans-serif;
}

.container {
    max-width: 85%;
    margin: auto;
}

.flexSB {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #1eb2a6;
    transition: 0.5s;
}

.icon:hover {
    cursor: pointer;
    background-color: #1eb2a6;
    color: #fff;
}